h1 {
  color: red;
}

h2{background-color: green;
color:white;}

li{border: 1px solid black;}

.second-h2 {display: block;
padding:30px;}
.head-div {
width: 90px;
height: 90px;
  color: white;
  padding: 5px;
  margin-bottom: 100px;
  background-color: blue;
}

.head-span{color: red;}
.form-span{display: block; padding-left: 90px;}

/*
-Так как в синем блоке у нас текст, то мы, как правило, его оборачиваем в параграф, то есть тег Р, а не div.

-Для первого тега р (синий блок) не нужно указывать высоту (свойство height).

-Текст " Я смогу..." не нужно дополнительно оборачивать в span.Тег span является строчным элементом и используется в основном для выделения и форматирования отдельных фрагментов текста.

-Для всех ссылок ведущих на внешние ресурсы, нужно прописывать атрибут target="_blank", чтобы ссылка открывалась в новом окне.

*/
