.button {
  flex-shrink: 0;

  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #00c470;
  border-radius: 30px;
  border: none;

  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;

  &:hover {
    background: #00ad62;
  }

  &:focus {
    outline: none;
    background: #00a05a;
  }
}
