.slider {
  position: relative;
  padding-bottom: 54px;

  /*Mobile media */
  @media (max-width: 899px) {
    padding-bottom: 44px;
  }
}

.slider-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f5f5f5;
  border: none;

  cursor: pointer;

  &--left {
    top: 53px;
    left: -46px;
    transform: translate(-100%);

    @media (max-width: 949px) {
      left: -30px;
    }
  }

  &--right {
    top: 53px;
    right: -46px;
    transform: translate(100%);

    @media (max-width: 949px) {
      right: -30px;
    }
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    display: none;
  }
}

.slider__pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background: #e1e1e1;
}

.slider__pagination-item--active {
  background: #00c470;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000;

  p {
    margin-bottom: 15px;
  }

  /*Tablet media */
  @media (max-width: 1199px) {
    line-height: 1.5;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  /*Mobile XS media */
  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;

  /*Mobile XS media */
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00c470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}
