.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  /*Tablet media */
  @media (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  /*  text-align: center; */

  /*Tablet media */
  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;

  /*Tablet media */
  @media (max-width: 1199px) {
    margin-bottom: 30px;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    margin-bottom: 20px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  /*Mobile XS media */
  @media (max-width: 599px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;

  /*Mobile XS media */
  @media (max-width: 599px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
