.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;

  /*Tablet media */
  @media (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    padding-top: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;

  /*Tablet media */
  @media (max-width: 1199px) {
    margin-bottom: 50px;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    margin-bottom: 40px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;

  /*Tablet media */
  @media (max-width: 1199px) {
    margin-bottom: 30px;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    margin-bottom: 20px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin-right: auto;
  margin-left: auto;
  width: 770px;

  /*Tablet media */
  @media (max-width: 1199px) {
    width: 720px;
  }

  /*Mobile media */
  @media (max-width: 899px) {
    width: 370px;
  }

  /*Mobile XS media */
  @media (max-width: 599px) {
    width: 100%;
  }
}
