@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
*/

body {
  font-family: "Playfair Display", serif;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  width: 1200px;
}

/* Секция */

.section {
  padding: 90px 0;
}

.section-header {
  margin-bottom: 60px;

  text-align: center;
}

.section-posts {
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.section-button-wrapper {
  text-align: center;
}

/* Заголовки */

.title {
  margin-bottom: 10px;

  font-family: "Playfair Display";
  font-size: 42px;
  line-height: 56px;
}

.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

/* Карточка */

.card {
  padding-bottom: 20px;
  /* margin-left: 15px;
  margin-right: 15px;  */
  border: 1px solid #c1d1d4;

  width: 270px;
  text-align: center;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 15px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.card-subtitle {
  margin-bottom: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  color: #000000;
}

/* Кнопка */

.card-wrapper a {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  text-align: center;
  text-decoration-line: underline;

  color: #0277b9;
}

.button {
  display: inline-block;

  padding: 12px 40px 16px;

  border: 1px solid #000;
  border-radius: 4px;

  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  transition: background-color 0.2s ease-in, color 0.2s ease-in,
    border 0.2s ease-in;
}

.button:hover,
.button:focus {
  background: #000;
  color: #fff;
}

.button:active {
  position: relative;
  top: 1px;
  background: #444444;
}
