@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* font-family: 'Noto Sans', sans-serif; */

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }

  .subtitle {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #999999;
  }

  .section-posts {
    /* justify-content: center; */
  }

  .section-posts:nth-last-child(n + 2) {
    justify-content: flex-start;
  }
}

/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .button {
    font-size: 18px;
    line-height: 24px;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .section-posts {
    margin-bottom: 40px;
    justify-content: center;
  }

  .section-posts {
    row-gap: 40px;
  }
}

/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  .card-title {
    font-size: 18px;
    line-height: 24px;
  }

  .card-wrapper a {
    font-size: 18px;
    line-height: 24px;
  }

  .section-posts {
    justify-content: center;
    row-gap: 20px;
  }

  .card-title {
    margin-bottom: 10px;
  }
  .card-subtitle {
    margin-bottom: 10px;
  }
}

/* 
Таблет
подзаголов
шрифт ноте санс Noto Sans
2 карточки слева
паддинги сбоку 15  вверху 60 внизу 67

Мобиле
Ноте санс 12
кнопки шрифт 18
вниз к карточке 40
до кнопки 40

XS
ноте санс 12
внизу паддинг 64

подзаголовок карточки: 12
ссылка карточки 18
текст карточки другие расстояния
вниз к карточке 20
*/
