.input {
  width: 240px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;

  border: none;

  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: rgba(0, 0, 0, 1);
}
