
.header {
	position: relative;
	height: 800px;
	padding-top: 50px;
	background-color: #265847;
	background-image: url('./../img/header/header-bg.jpg');
	background-position: center;
	background-size: cover;
	color: #ffffff;
}

.header-inner {
	display: flex;
	align-items: center;
	height: 100px;
	background-color: #265847;
	background-image: url('./../img/header/header-small-bg.jpg');
	background-position: center;
	background-size: cover;
	color: #ffffff;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1170px;
}



.header-nav {
	font-size: 22px;
	color: #ffffff;
}

.header-nav-button {
	display: none;
}

.header-nav-list {
	display: flex;
}

.header-nav-list-item:not(:last-child) {
	margin-right: 50px;
}

.header-nav-link {
	color: #ffffff;
	text-decoration: none;
}

.header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 1170px;
	text-align: center;
}

.header-title {
	margin-top: 16px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
}

.header-content p {
	font-size: 24px;
	color: #ffffff;
}

.header-scroll {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);

	display: inline-block;
	padding-bottom: 34px;

	font-size: 16px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.header-scroll::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	content: '';
	display: block;
	width: 18px;
	height: 24px;
	background-image: url('../img/header/arrow-down.svg');
}
