.header{
    position: relative;
    height: 870px;  

    @include bgImage("./../img/bg/header-03.jpg");

    &::before {
        @extend %overlay;
     }
}

.header__wrapper{
    padding-top: 60px;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.header__buttons{
    display: flex;
    justify-content: space-between;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.header__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
}

.header__desc {
    margin-bottom: 70px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    p {
        margin-bottom: 15px;
    }
    
}

.header__form{
 display: flex;
 justify-content: center;
}


.header__form > * + *{
    margin-right: 20px;
}

.header__scroll{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

