.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
}

.section-clients__title {
  margin-bottom: 40px;
}

.section-clients__slider {
  margin-right: auto;
  margin-left: auto;
  width: 770px;
}
