/*
font-family: 'Lobster', cursive;
*/

/* header { display: none; } */
/* main { display: none; } */
/* footer { display: none; } */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%; /* sticky footer */
}

body {
	height: 100%; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	color: #31405B;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

input {
	font-family: 'PT Sans', sans-serif;
}

label {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
    padding-right: 15px;
    
    @media (max-width: 1199px) {
        width: 900px;
    }
    @media (max-width: 899px) {
        width: 100%;
    }
    @media (max-width: 599px) {
        width: 320px;
    }
}

.none {
	display: none;
}

.bgcolor {
	background-color: #f2f8f6;
}

.main-header {
	font-weight: bold;
	font-size: 54px;
	color: #31405b;
}

.inner-page {
	padding-top: 60px;
	padding-bottom: 100px;
}
